*.csproj
*.sln
*.unityproj
*.sublime-project
*.sublime-workspace
*.userprefs
*.suo
.svn/
.vs/
.vscode/
Temp/
/Library/
obj/
WP8/
/UserSettings/

Assets/Resources/Data/Unique/FXSubPathIndex.txt
Assets/Resources/Data/Unique/FXSubPathIndex.txt.meta

Assets/Resources/Data/Unique/SceneryTextureSubPathIndex.txt
Assets/Resources/Data/Unique/SceneryTextureSubPathIndex.txt.meta

/Assets/-tk2d.asset
/Assets/-tk2d.asset.meta
/Assets/-tk2d.asset
/Assets/-tk2d.asset.meta
Replace/

/[Aa]ssets/Plugins/FMOD/Cache/*
                    
fmod_editor\.log

Assets/StreamingAssets/

Assets/StreamingAssets\.meta


FMODProject/projectAesir/.cache/
FMODProject/projectAesir/.user/
FMODProject/projectAesir/.unsaved/

fmod\.log

Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset.meta

UIElementsSchema
Logs
ProjectSettings/ProjectVersion.txt
UserSettings/Layouts/default-2021.dwlt
.DS_Store
UserSettings
